:root{color-scheme: light dark;}
$glass:light-dark(rgb(255, 255, 255, 0.6),rgb(0,0,0,0.6));
::-webkit-scrollbar{display: none;}
html, body, #map{
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
}
.maplibregl-ctrl-bottom-right {display: none}
* {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-size: large;
    font-style: normal;
}
button{
    background-color: #a8ce40;
    border-radius: 1em;
    border: none;
    font-size: medium;
    font-weight: 600;
    transition: all 0.67s;
    &:hover{background-color: greenyellow}
    color: #000;
}
.maplibregl-popup-content{
    border-radius: 0.67rem;
    background-color: $glass;
    backdrop-filter: blur(0.34rem);
    box-shadow: 0 0 1em #000;
    border-top: 0.125rem solid $glass;
    border-left: 0.125rem solid $glass;
}
.overlay{
    position: absolute;
    z-index: 1;
}
.img{
    right: 0;
    border-radius: 0.67rem;
    max-width: 45vw;
    max-height: 90vh;
    transform: translateX(100%);
    transition: all 0.67s;
    margin: 1em;
    &:hover{transform: translateX(0)}
}
.icon{
    height: 2em;
    margin: 0.34em;
}
.sidebar {
    left: 0;
    background-color: $glass;
    backdrop-filter: blur(0.3rem);
    border-radius: 0 0.67em 0.67em 0;
    box-shadow: 0 0 1em #000;
    height: 99.7vh;
    border-color: $glass;
    border-style: solid solid none none;
    cursor: pointer;
}
.maplibregl-popup-anchor-top .maplibregl-popup-tip,
.maplibregl-popup-anchor-top-left .maplibregl-popup-tip,
.maplibregl-popup-anchor-top-right .maplibregl-popup-tip {border-bottom-color: $glass}
.maplibregl-popup-anchor-bottom .maplibregl-popup-tip,
.maplibregl-popup-anchor-bottom-left .maplibregl-popup-tip,
.maplibregl-popup-anchor-bottom-right .maplibregl-popup-tip {border-top-color: $glass}
.maplibregl-popup-anchor-left .maplibregl-popup-tip {border-right-color: $glass}
.maplibregl-popup-anchor-right .maplibregl-popup-tip {border-left-color: $glass}