#map {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -0.01%;
    width: 100%;
}
.maplibregl-ctrl{
    display: none;
}
.topbar{
    z-index: 6;
    padding: 1rem;
    border-radius: 0.67rem;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(0.34rem);
    box-shadow: 0 0 1em;
    border-top: 0.125rem solid rgb(255, 255, 255, 0.5);
    border-left: 0.125rem solid rgb(255, 255, 255, 0.5);
}
.card{
    position: fixed;
    background-color: rgba(255, 255, 255, 0.76);
    display: none;
      top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
::-webkit-scrollbar{
    display: none;
}
.container {
    display: grid;
    justify-content: center;
}
* {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-size: large;
    font-style: normal;
}
button{
    background-color: #a8ce40;
    border-radius: 1em;
    border: none;
    font-size: medium;
    font-weight: 600;
    transition: all 0.67s;
}
button:hover{
    background-color: greenyellow;
}
.maplibregl-popup-content{
    border-radius: 0.67rem;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(0.34rem);
    box-shadow: 0 0 1em;
    border-top: 0.125rem solid rgb(255, 255, 255, 0.5);
    border-left: 0.125rem solid rgb(255, 255, 255, 0.5);
}
img{
    max-width: 67vw;
    max-height: 67vh;
}
img[src="cross.svg"]{
    height: 2em;
    float: right;
    transition: 0.34s all;
}
img[src="cross.svg"]:hover{
    transform: scale(1.1)
}