@import url(play/bus.css);
html, body{overflow: scroll;text-align: center;}
span{font-size: min(20vw,30vh)}
img{height: min(20vw,30vh)}
button{font-size: min(18vw,20vh)}
button span{
    font-family: Arial;
    font-variant-emoji: text;
    font-size: min(18vw,20vh);
}